+++
title = "IT Help"
linkTitle = "IT help start pagina"

+++

{{% blocks/lead color="primary" %}}
Deze website geeft informatie over allerlei IT gerelateerde onderwerpen.

Binnen onze gemeente speelt dit een steeds grotere rol.
We hebben allerlei technische hulpmiddelen, die communicatie en gegevens uitwisseling makkelijker maken.
Niet iedereen heeft veel ervaring met de digitale hulpmiddelen. Daarom hebben we zo veel mogelijk informatie verzameld om daarbij te helpen.

<div class="mx-auto">
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Naar de documentatie <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>


</div>

{{% /blocks/lead %}}

{{< blocks/section color="light" >}}

{{% blocks/feature icon="fab fa-github" title="Aanvullingen zijn welkom!"
url="https://github.com/HervormdPutten/ithelp"
%}}
Aanvullingen kunnen door middel van een [Pull Request](https://github.com/HervormdPutten/ithelp/pulls)
bijdrage op **GitHub**.
{{% /blocks/feature %}}


{{< /blocks/section >}}





